.col-content{
    background-color: yellow;
    height: 200px;
}
.visa img{
    width: 230px;
    height: 80px;
    margin-top: -30px;
    margin-left: 30px;
}
.visa{
    transform: translateY(150%);
}
.visa .pay{
    margin-left: 55px;
    border: 3px solid black;
    height: 73px;
    background-color: white;
}
.hd-ct{
    background: yellow;
    max-height: 315px;
    padding: 45px;
    width:60%;
    margin: 0 auto;
}
.col-12{
    margin-bottom: 50px;
}
.name{
    margin-top: 100px;
}
.col{
    border: 1px solid white;
    background-color: #FFFFFF;
}
.but{
    background-color: red;
    margin-top: 50px;
}
.jo{
    width: 500px;
}
#cv{
    margin-right: 800px;
}
